.title{
    text-align: center;
}
.logo{
    width: 30%;
}
body {
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
}
.result{
    border: 5px solid #e4b300;
    border-radius:5%;
    width:500px;
    text-align: center;
    margin: auto;
    height: 470px;
    color: #e4b300;
    font-size:25px;
    overflow: hidden;
}
#scroll{
    display: none;
}
.container{
    margin-top: 30px;
}

#loading {
    margin-bottom: 20px;
    font-size: 50px;
    color: white
}
#Name{
    font-size:40px;
    margin-top:55px;
}
#btn, #play {
    border: 5px solid #e4b300;
    border-radius: 10px;
    background: #b2b2b2;
    text-align: center;
    font-size: 30px;
    margin-right: 35px;
}
#btnContainer{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.fade {
    position: relative;
    width: 50%;
    min-height: 40vh;
    top: 1px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
    display: none;
    left: 25%;
    /* opacity: 80%; */
    border-radius: 100%;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 99999px;
    /* transform-origin: 50% 100%; */
    animation: crawl 47s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }